ion-header
{
    box-shadow:none;
}
.menu-text
{
    color: #333;
    font-family: 'Work Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 40px;
    cursor: pointer;
}
.chat-button
{
    --border-radius:50px;
    --box-shadow:none;
    text-transform: capitalize;
}
.brand-name
{
    color: #333;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 100% */
    padding-left: 5px;
}