
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-grid >
        <ion-row class="ion-padding-horizontal">
          <ion-col size="auto">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto" class="ion-no-padding"><img src="../assets/icon/mainLogo.svg"></ion-col>
              <ion-col class="brand-name ion-no-padding">Creanton</ion-col>
           </ion-row>
          </ion-col>
          <ion-col class="ion-hide-md-down">
           <ion-row class="ion-align-items-center ion-justify-content-end" >
              <ion-col>
                <ion-row class="ion-align-items-center ion-justify-content-end">
                  <ion-col class="menu-text" *ngFor="let item of menuItems" size="auto">{{item.name}}</ion-col>
                  <ion-col size="auto">
                    <ion-button color="primary" class="chat-button">Let's Chat</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              
           </ion-row>
          </ion-col>
        </ion-row>
        
      </ion-grid>
      <ion-buttons slot="end" class="ion-hide-md-up">
        <ion-menu-button><ion-icon src="../assets/icon/menuIcon.svg" style="width: 32px;"></ion-icon></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet>
      
    </ion-router-outlet>
  </ion-content>

</div>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary"><div class="ion-padding-horizontal">Quick Actions</div></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row class="menu-text ion-padding ion-text-center" *ngFor="let item of menuItems" size="auto">{{item.name}}</ion-row>
  </ion-content>
</ion-menu>
